.DS_Store
*/.DS_Store

.venv
.ipynb_checkpoints
.ipynb_checkpoints/

# Datasets:
/pizza_steak
pizza_steak.zip
/10_food_classes_all_data
10_food_classes_all_data.zip
/10_food_classes_1_percent
__MACOSX
/practice/AAO_images
10_food_classes_10_percent
101_food_classes_10_percent
*.zip*
train.csv
test.csv
sample_submission.csv

# Models:
*.h5*
*checkpoints_weights*
/transfer_learning

# tensorflow_hub
/tensorflow_hub

**__pycache__**
